<a href="https://colab.research.google.com/github/JasperDTC/Arguments_assignment/blob/main/Assignment_shark_attack_Jasper_Smeitink.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#1. What are the most dangerous types of sharks to humans?

In [54]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from io import StringIO
import re
from itertools import chain
%reload_ext google.colab.data_table

In [55]:
df = pd.read_csv('https://raw.githubusercontent.com/Justdead12/Shark-Attack/main/attacks.csv', encoding = 'cp1252')

In [ ]:
df

In [ ]:
dfx = df.iloc[:6302]
dfx

In [ ]:
dfx.columns

In [ ]:
dfx['Unnamed: 22'].unique()
#Kolom unnamed 22 heeft alleen als unieke values nan en 'stopped here'. Die values lijken me niet relevant dus we gaan die kolom zo droppen.

array([nan, 'stopped here'], dtype=object)

In [ ]:
dfx['Unnamed: 23'].unique()
#kolom unnamed 23 heeft geen relevante informatie in de rijen/cellen, namelijk: nan, Teramo, 'change filename'. Daarom kunnen we die kolom zo gaan droppen.

#De kolommen pdf, href formula, href lijken me ook niet relevant voor onze analyse dus die gaan we ook droppen.

array([nan, 'Teramo', 'change filename'], dtype=object)

In [57]:
df2 = dfx.drop(columns= ['Unnamed: 22','Unnamed: 23', 'pdf', 'href formula', 'href', 'Case Number.1', 'Case Number.2'])
df2.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'original order'],
      dtype='object')

In [58]:
df2a = df2.rename(columns={"Species ":"Species", "Sex ": "Sex"})
df2a.columns
df2a

#Ik maak hier alvast enkele kopieën van het dataframe die ik straks bij de andere deelvragen kan gebruiken.
df5 = df2a

df6 = df2a

df10 = df2a

df14 = df2a

In [71]:
df2a['Type'].unique()
#df2a['Type'].value_counts(dropna=False)
#df2a[df2a['Type'] == np.nan]

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

In [ ]:
#We moeten alleen kijken naar shark attacks. Niet naar sea disasters, gevallen waar het onduidelijk is of het daadwerkelijk een haaienaanval was (m.a.w. 'Questionable'), 
# gevallen waar het zeker weten niet om een haaienaanval ging (m.a.w. 'Invalid' cases) en gevallen waar het type np.nan was omdat we zeker willen weten dat het om een haaienaanval ging.
#Daarom nemen we die gevallen NIET mee in de 'Type' kolom. Dat doen we hieronder in de code cel.

#We laten nu dus de gevallen buiten beschouwing waarbij het 'questionable' (m.a.w. onduidelijk) is of het daadwerkelijk om een haaienaanval ging.
#Daarom zullen we nu dus sommige gevallen NIET meenemen waarbij het in werkelijkheid wél om een haaienaanval ging. Dat creërt een bias. Maar we kunnen er helaas weinig
#aan doen om na te gaan of het echt niet om een haaienaanval ging.

In [72]:
df2a = df2a[(df2a['Type'] == 'Unprovoked') | (df2a['Type'] == 'Provoked') | (df2a['Type'] == 'Boating') | (df2a['Type'] == 'Boat') | (df2a['Type'] == 'Boatomg')]
df2a['Type'].unique()

array(['Boating', 'Unprovoked', 'Provoked', 'Boat', 'Boatomg'],
      dtype=object)

In [74]:
df2a['Type'].unique()

array(['Boating', 'Unprovoked', 'Provoked', 'Boat', 'Boatomg'],
      dtype=object)

In [ ]:
#Nu gaan we kijken wat voor haaiensoorten er zoal gerapporteerd worden bij haaienaanvallen.

In [ ]:
list(df2a['Species'].unique())

In [ ]:
df2a['Species'] = df2a['Species'].str.lower()

df2a["Species"] = df2a["Species"].fillna("")
df2a

In [ ]:
df2a['New_species'] = 0
df2a

In [ ]:
#Nu gaan we nieuwe values maken voor de verschillende haaiensoorten. De informatie in de rijen van de originele specie-variabele is niet beknopt genoeg. 
#Er zit namelijk informatie in over de lengte e.d. We willen alleen haaiensoorten (m.a.w. species) als value in de New_species kolom.

df2a['New_species'][df2a['Species'].str.contains('or')] = 0
df2a['New_species'][df2a['Species'].str.contains('porbeagle')] = 'prbeagle'

df2a['New_species'][df2a['Species'].str.contains('angelshark')] = '4ngelshark'
df2a['New_species'][df2a['Species'].str.contains('angel')] = '4ngelshark'

df2a['New_species'][df2a['Species'].str.contains('basking')] = 'basking'

df2a['New_species'][df2a['Species'].str.contains('blacknose')] = 'bl4cknose'

df2a['New_species'][df2a['Species'].str.contains('blacktip')] = 'blacktip'

df2a['New_species'][df2a['Species'].str.contains('bonnethead')] = 'bonnethead'


df2a['New_species'][df2a['Species'].str.contains('whale')] = 'whale'
df2a['New_species'][df2a['Species'].str.contains('bronze whaler')] = 'copper shark'
df2a['New_species'][df2a['Species'].str.contains('copper')] = 'copper shark'
df2a['New_species'][df2a['Species'].str.contains('narrowtooth')] = 'copper shark'


df2a['New_species'][df2a['Species'].str.contains('bull')] = 'bull'

df2a['New_species'][df2a['Species'].str.contains('caribbean reef')] = 'caribbean reef'

df2a['New_species'][df2a['Species'].str.contains('cookie')] = 'cookiecutter'

df2a['New_species'][df2a['Species'].str.contains('dusky')] = 'dusky'

df2a['New_species'][df2a['Species'].str.contains('frilled')] = 'frilled'

df2a['New_species'][df2a['Species'].str.contains('galapagos')] = 'galapagos'

df2a['New_species'][df2a['Species'].str.contains('goblin')] = 'goblin'

# white shark en great white shark zijn dezelfde species, zie: 
#http://www.elasmo-research.org/education/white_shark/ws_or_gws.htm#:~:text=The%20terms%20%22White%20Shark%22%20and,one%20species%3A%20the%20White%20Shark.

"""Je hebt white tip en great white haaien. Dit zijn verschillende soorten. Echter hebben ze allebei 'white' in de naam. 
Dit is verraderlijk. Daarom definiëren we ze hier gelijk. """
df2a['New_species'][df2a['Species'].str.contains('great white')] = 'great white'
df2a['New_species'][df2a['Species'].str.contains('white shark')] = 'great white'

df2a['New_species'][df2a['Species'].str.contains('white tip')] = 'whitetip'
df2a['New_species'][df2a['Species'].str.contains('whitetip')] = 'whitetip'

df2a['New_species'][df2a['Species'].str.contains('greenland')] = 'greenland'
df2a['New_species'][df2a['Species'].str.contains('green land')] = 'greenland'

df2a['New_species'][df2a['Species'].str.contains('grey reef')] = 'grey reef'
df2a['New_species'][df2a['Species'].str.contains('greyreef')] = 'grey reef'

df2a['New_species'][df2a['Species'].str.contains('hammerhead')] = 'hammerhead'
df2a['New_species'][df2a['Species'].str.contains('hammer head')] = 'hammerhead'

df2a['New_species'][df2a['Species'].str.contains('horn shark')] = 'horn shark'
df2a['New_species'][df2a['Species'].str.contains('hornshark')] = 'horn shark'

df2a['New_species'][df2a['Species'].str.contains('kite fin')] = 'kitefin'
df2a['New_species'][df2a['Species'].str.contains('kitefin')] = 'kitefin'

df2a['New_species'][df2a['Species'].str.contains('lemon')] = 'lemon'
df2a['New_species'][df2a['Species'].str.contains('leopard')] = 'leopard'

df2a['New_species'][df2a['Species'].str.contains('mako')] = 'longfin mako'

df2a['New_species'][df2a['Species'].str.contains('mega mouth')] = 'megamouth'
df2a['New_species'][df2a['Species'].str.contains('megamouth')] = 'megamouth'

df2a['New_species'][df2a['Species'].str.contains('nurse')] = 'nurse'

df2a['New_species'][df2a['Species'].str.contains('sleeper')] = 'pacific sleeper'

df2a['New_species'][df2a['Species'].str.contains('pygmy')] = 'pygmy'

df2a['New_species'][df2a['Species'].str.contains('pyjama')] = 'pyjama'

df2a['New_species'][df2a['Species'].str.contains('grey reef')] = 'grey reef'

df2a['New_species'][df2a['Species'].str.contains('salmon')] = 'salmon shark'


#sand tiger en sand shark zijn dezelfde soort haaien. 
#https://en.wikipedia.org/wiki/Sand_shark
#Een tiger shark is echter een andere soort. 
#https://en.wikipedia.org/wiki/Tiger_shark
df2a['New_species'][df2a['Species'].str.contains('tiger')] = 'tiger'
df2a['New_species'][df2a['Species'].str.contains('sandtiger')] = 'sand t1ger'
df2a['New_species'][df2a['Species'].str.contains('sand tiger')] = 'sand t1ger'
df2a['New_species'][df2a['Species'].str.contains('sand shark')] = 'sand t1ger'

df2a['New_species'][df2a['Species'].str.contains('mako')] = 'shortfin mako'
df2a['New_species'][df2a['Species'].str.contains('silky')] = 'silky'

df2a['New_species'][df2a['Species'].str.contains('sixgill')] = 'sixgill'
df2a['New_species'][df2a['Species'].str.contains('six gill')] = 'sixgill'
df2a['New_species'][df2a['Species'].str.contains('sixgil')] = 'sixgill'
df2a['New_species'][df2a['Species'].str.contains('six gil')] = 'sixgill'

df2a['New_species'][df2a['Species'].str.contains('sleeper')] = 'sleeper'
df2a['New_species'][df2a['Species'].str.contains('spinner')] = 'spinner'

df2a['New_species'][df2a['Species'].str.contains('spiny dogfish')] = 'spiny dogfish'
df2a['New_species'][df2a['Species'].str.contains('spiny dog fish')] = 'spiny dogfish'
df2a['New_species'][df2a['Species'].str.contains('spiny')] = 'spiny dogfish'

df2a['New_species'][df2a['Species'].str.contains('thresher')] = 'thresher'

df2a['New_species'][df2a['Species'].str.contains('dogfish')] = 'viper (dogfish)'
df2a['New_species'][df2a['Species'].str.contains('viper shark')] = 'viper (dogfish)'
df2a['New_species'][df2a['Species'].str.contains('vipershark')] = 'viper (dogfish)'
df2a['New_species'][df2a['Species'].str.contains('viper')] = 'viper (dogfish)'

df2a['New_species'][df2a['Species'].str.contains('wobbegong')] = 'wobbegong'

df2a['New_species'][df2a['Species'].str.contains('zebra')] = 'zebra shark'


df2a['New_species'][df2a['Species'].str.contains('\?')] = 0
df2a['New_species'][df2a['Species'].str.contains('possibly')] = 0
df2a['New_species'][df2a['Species'].str.contains('questionable')] = 0
df2a['New_species'][df2a['Species'].str.contains('not confirmed')] = 0
df2a['New_species'][df2a['Species'].str.contains('invalid incident')] = 0

In [ ]:
df2a

In [80]:
df2a['New_species'].value_counts()

0                  3908
great white         615
tiger               235
bull                159
nurse                92
blacktip             63
copper shark         61
shortfin mako        53
wobbegong            46
hammerhead           44
lemon                35
sand t1ger           33
spinner              33
whitetip             26
caribbean reef       18
grey reef            17
dusky                13
whale                12
prbeagle              7
basking               7
4ngelshark            6
galapagos             6
thresher              5
silky                 4
viper (dogfish)       3
goblin                2
salmon shark          2
cookiecutter          2
leopard               2
sixgill               1
Name: New_species, dtype: int64

In [81]:
df2a['New_species'].replace(0 , np.nan, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [ ]:
df2a

In [85]:
df2a['New_species'].value_counts()

great white        615
tiger              235
bull               159
nurse               92
blacktip            63
copper shark        61
shortfin mako       53
wobbegong           46
hammerhead          44
lemon               35
sand t1ger          33
spinner             33
whitetip            26
caribbean reef      18
grey reef           17
dusky               13
whale               12
prbeagle             7
basking              7
4ngelshark           6
galapagos            6
thresher             5
silky                4
viper (dogfish)      3
goblin               2
salmon shark         2
cookiecutter         2
leopard              2
sixgill              1
Name: New_species, dtype: int64

In [ ]:
#1. What are the most dangerous types of sharks to humans?

#Bij het overgrote deel van de incidenten met haaien is de haaiensoort onduidelijk of onbekend (in 3908 gevallen). In ~1000 gevallen is de haaiensoort wel bekend.
#We kunnen daarom niet met zekerheid zeggen welke haaiensoorten het meest betrokken zijn bij incidenten. 
#Het kan namelijk zo zijn dat witte haaien (Great white sharks) de bekendste haaien zijn onder mensen, bijvoorbeeld door hun rol in films, en dat daarom great 
#white sharks het meest gerapporteerd worden bij incidenten terwijl in werkelijkheid een andere haaiensoort betrokken was bij de aanval.

#We gaan er dus van uit dat de haaiensoort die per incident gerapporteerd wordt klopt, maar het kan dus zo zijn dat de haai in werkelijkheid van een andere soort was.


"""Verder kun je ‘most dangerous/meest gevaarljk’ op verschillende manieren definiëren. 
Bijvoorbeeld als de haaiensoort die het meest wordt gerapporteerd bij aanvallen. 
Dat kun je doen door naar de frequentietabel hieronder te kijken. Die geeft per haaiensoort aan hoeveel aanvallen er gerapporteerd zijn. """
df2a['New_species'].value_counts()

#Uit deze frequentielijst blijkt dat great white sharks, tiger sharks en bull sharks opeenvolgend het meest betrokken zijn bij aanvallen op mensen.

'Je zou "meest gevaarlijke haaiensoort" ook kunnen definiëren als de haaiensoort die relatief de meeste fatale incidenten veroorzaakt\nten opzichte van het totale aantal incidenten waarbij die haaiensoort betrokken is. '

In [83]:
"""Je kunt most dangerous sharks ook definiëren als de haaiensoorten die de meeste doden veroorzaken, dus de meeste fatale incidenten.
Om dat te kunnen meten moeten we de dataset filteren op fatale incidenten. Dat doe je als volgt: """
fatal_incidents_only = df2a['Fatal (Y/N)']=='Y'
fatal_incidents_only
df2a[fatal_incidents_only]["New_species"].value_counts()
#Hieruit blijkt wederom dat great white sharks, tiger sharks en bull sharks het vaakst betrokken zijn bij fatale incidenten.

great white      138
tiger             59
bull              35
whitetip           4
shortfin mako      2
copper shark       2
whale              2
galapagos          2
basking            2
hammerhead         2
lemon              1
Name: New_species, dtype: int64

In [84]:
"""Je zou "meest gevaarlijke haaiensoort" ook kunnen definiëren als de haaiensoort die relatief de meeste fatale incidenten veroorzaakt
ten opzichte van het totale aantal incidenten waarbij die haaiensoort betrokken is. """ 

(df2a[fatal_incidents_only]["New_species"].value_counts()) / (df2a['New_species'].value_counts()) * 100

#Hieruit blijkt dat opeenvolgend galapagos haaien (33,3%), basking haaien (28,6%) en tiger haaien (25,1%) relatief de meeste fatale incidenten veroorzaken. Wel moet hier bij gezegd worden dat bij galapagos haaien 
#maar 2 dodelijke gevallen, bij basking haaien maar 2 dodelijke gevallen en bij tiger haaien 66 dodelijke gevallen gerapporteerd worden. Bij galapagos haaien en basking haaien zijn dus eigenlijk te weinig gevallen 
#gerapporteerd om een betrouwbaar antwoord te geven over hun dodelijkheid.
#Tiger haaien lijken wel duidelijk dodelijker te zijn dan de andere haaiensoorten. 66 van de 249 incidenten zijn daar fataal. Dat zijn hogere cijfers en daarom kunnen we bij die soort 
#betrouwbaardere uitspraken over de dodelijkheid doen.

#Bij Bull sharks (35 van de 159) en great white sharks (138 v/d 615) zijn respectievelijk  22,0% en 22,4% van de incidenten fataal. We kunnen dus concluderen 
#dat opeenvolgend Tiger sharks, great white sharks en bull sharks relatief het meest dodelijk zijn.

4ngelshark               NaN
basking            28.571429
blacktip                 NaN
bull               22.012579
caribbean reef           NaN
cookiecutter             NaN
copper shark        3.278689
dusky                    NaN
galapagos          33.333333
goblin                   NaN
great white        22.439024
grey reef                NaN
hammerhead          4.545455
lemon               2.857143
leopard                  NaN
nurse                    NaN
prbeagle                 NaN
salmon shark             NaN
sand t1ger               NaN
shortfin mako       3.773585
silky                    NaN
sixgill                  NaN
spinner                  NaN
thresher                 NaN
tiger              25.106383
viper (dogfish)          NaN
whale              16.666667
whitetip           15.384615
wobbegong                NaN
Name: New_species, dtype: float64

# **2. Are children more likely to be attacked by sharks?**

Aanname/assumption:

-Iedereen die jonger dan 18 jaar is beschouw ik als een kind.

-Iedereen die 18 jaar of ouder is beschouw ik als een volwassene.

Het is natuurlijk gebruikelijk om op basis van deze leeftijden onderscheid te maken tussen volwassenen en kinderen, maar misschien speelt lengte en gewicht een belangrijkere rol bij het al dan niet aangevallen worden door haaien. 

Namelijk, haaien zullen misschien eerder kleine personen aanvallen (want makkelijkere prooi) dan grotere personen. Dat zou dan wellicht ook een betere onderzoeksvraag zijn, maar dan moet je daar wel data over hebben. Dat hebben we hier niet. Vandaar dat we alleen gaan kijken naar leeftijd.

In [88]:
df2a['Age'].unique()

array(['57', '11', nan, '18', '52', '15', '12', '32', '10', '34', '30',
       '60', '33', '29', '54', '41', '37', '19', '25', '69', '38', '55',
       '35', '45', '40s', '28', '20', '24', '26', '49', '14', '22', '7',
       '31', '17', '40', '13', '42', '3', '50', '46', '16', '82', '48',
       '20s', '21', '51', '39', '58', 'Teen', '47', '61', '65', '73',
       '36', '66', '43', '60s', '9', '72', '59', '6', '64', '23', '71',
       '44', '27', '62', '68', '63', '70', '18 months', '53', '30s',
       '50s', '8', 'teen', '77', '74', '56', '28 & 26', '5', '86',
       '18 or 20', '12 or 13', '46 & 34', '28, 23 & 30', '36 & 26', '84',
       '\xa0 ', ' ', '30 or 36', '6½', '21 & ?', '33 or 37', 'mid-30s',
       ' 30', ' 28', '20?', "60's", '32 & 30', '87', 'Elderly', '75',
       '21 or 26', '20 ', '>50', '18 to 22', 'adult', '9 & 12',
       '9 months', '25 to 35', '23 & 26', '1', '(adult)', '33 & 37',
       '25 or 28', '30 & 32', '50 & 30', '17 & 35', 'X', '"middle-age"',
       '13 or 18', '33 & 26', 'MAKE LINE GREEN', ' 43', '81', '"young"',
       '7 or 8', '78', '17 & 16', '8 or 10', 'Both 11', '9 or 10',
       'young', '36 & 23', '  ', 'A.M.', '?    &   14', '10 or 12',
       '31 or 33', '2½', '13 or 14'], dtype=object)

In [89]:
#df2a['New_species'].replace(0 , np.nan, inplace=True)

df2a['Age_recode'] = df['Age'].replace({
    "Teen": 'child', "18 months": 'child', '30s':'adult', '50s':'adult', 'teen': 'adult', '28 & 26':'adult2',
     '18 or 20': 'adult', '12 or 13': 'child', '46 & 34': 'adult2', '28, 23 & 30':'adult3', 'Teens':'child2', '36 & 26': 'adult2',
     '8 or 10': 'child', '\xa0 ': None, ' ': None, '30 or 36': 'adult', '6½': 'child', '21 & ?': None, '33 or 37': 'adult',
     'mid-30s': 'adult', '23 & 20': 'adult2', '7      &    31': 'child1_adult1', ' 28': 'adult', '20?': None, "60's": 'adult', '32 & 30': 'adult2',
     '16 to 18': None, 'Elderly': 'adult', 'mid-20s': 'adult', 'Ca. 33': 'adult', '74 ': 'adult', '45 ': 'adult', '21 or 26': 'adult',
     '20 ': 'adult', '>50': 'adult', '18 to 22': 'adult', '9 & 12':'child2', '? & 19': None, '9 months': 'child', '25 to 35': 'adult',
     '23 & 26': 'adult2', '1': 'child', '(adult)': 'adult', '33 & 57': 'adult2', '25 or 28': 'adult', '37, 67, 35, 27,  ? & 27': 'adult5',
     '21, 34,24 & 35': 'adult4', '30 & 32': 'adult2', '50 & 30': 'adult2', '17 & 35': 'child1_adult1', 'X': None, '"middle-age"': 'adult',
     '13 or 18':None, '34 & 19': 'adult2', '33 & 26': 'adult2', '2 to 3 months': 'child', 'MAKE LINE GREEN': None, ' 43': 'adult', '"young"': None,
     '7 or 8': 'child', '17 & 16': 'child2', 'F': None, 'Both 11': 'child2', '9 or 10': 'child', 'young': None, '36 & 23': 'adult2', '  ': None,
     'A.M.': None, '?    &   14': None, '10 or 12': 'child', '31 or 33': 'adult', '2½': 'child', '13 or 14': 'child',
     '33 & 37': 'adult2', ' 30': 'adult', '20s': 'adult', '40s': 'adult', '60s': 'adult'
})

df2a['Age_recode'].unique()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

array(['57', '11', nan, '18', '52', '15', '12', '32', '10', '34', '30',
       '60', '33', '29', '54', '41', '37', '19', '25', '69', '38', '55',
       '35', '45', 'adult', '28', '20', '24', '26', '49', '14', '22', '7',
       '31', '17', '40', '13', '42', '3', '50', '46', '16', '82', '48',
       '21', '51', '39', '58', 'child', '47', '61', '65', '73', '36',
       '66', '43', '9', '72', '59', '6', '64', '23', '71', '44', '27',
       '62', '68', '63', '70', '53', '8', '77', '74', '56', 'adult2', '5',
       '86', 'adult3', '84', None, '87', '75', 'child2', 'child1_adult1',
       '81', '78'], dtype=object)

In [90]:
pd.set_option('display.max_rows', 200)
df2a['Age_recode'].value_counts()

18               142
17               139
15               137
16               136
19               132
20               131
22               110
21               110
25               100
24                97
14                95
13                92
26                79
28                75
29                75
23                73
30                71
27                71
12                69
35                65
32                60
40                50
10                50
34                48
38                45
adult             44
31                44
33                42
37                38
41                37
36                35
43                34
42                34
39                33
11                32
9                 31
50                31
52                30
47                27
45                26
44                26
8                 26
46                25
48                25
49                23
55                23
child             21
7                 18
51                18
57                16
54                16
58                15
61                13
6                 13
60                13
59                11
adult2            10
53                10
69                10
56                 7
63                 7
70                 6
5                  6
68                 5
62                 5
65                 4
66                 4
64                 4
71                 3
3                  3
child2             3
73                 2
78                 2
77                 2
82                 1
72                 1
74                 1
adult3             1
84                 1
87                 1
75                 1
child1_adult1      1
81                 1
86                 1
Name: Age_recode, dtype: int64

Ik heb nu alle waarden omgezet naar een eenvoudige string of een nummer. 

Maar, wat ik eigenljk wil is dat alle cases kleiner of gelijk aan 17 één value worden.

En dat iedereen 18 jaar of ouder ook één value wordt.

Daarnaast wil ik dat child2, adult2, adult3, adult4 en adult5 ook een integer worden. 

Dat kan het makkelijkste als alle values in deze kolom een integer worden. 
Dus ik ga weer recoden (replace).



1 kind (child) krijgt de code 1000 (persoon onder onder de 18 jaar)

2 kinderen (child2) krijgt de code 1002

1 volwassene (adult) krijgt de code 2000 (persoon van 18 jaar of ouder)

2 volwassenen (adult2) krijgt de code 2002

3 volwassenen (adult3) krijgt de code 2003

4 volwassenen (adult4) krijgt de code 2004

5 volwassenen (adult5) krijgt de code 2005

1 volwassene, 1 kind (child1_adult1) krijgt de code 3000

In [91]:
df2a['Age_recode2'] = df2a['Age_recode'].replace({
    'child': 1000, 'child2': 1002, 'adult': 2000, 'adult2': 2002, 'adult3': 2003, 'adult4': 2004, 'adult5': 2005, 'child1_adult1': 3000, None: np.nan
})

df2a['Age_recode2'].unique()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

array(['57', '11', nan, '18', '52', '15', '12', '32', '10', '34', '30',
       '60', '33', '29', '54', '41', '37', '19', '25', '69', '38', '55',
       '35', '45', 2000, '28', '20', '24', '26', '49', '14', '22', '7',
       '31', '17', '40', '13', '42', '3', '50', '46', '16', '82', '48',
       '21', '51', '39', '58', 1000, '47', '61', '65', '73', '36', '66',
       '43', '9', '72', '59', '6', '64', '23', '71', '44', '27', '62',
       '68', '63', '70', '53', '8', '77', '74', '56', 2002, '5', '86',
       2003, '84', '87', '75', 1002, 3000, '81', '78'], dtype=object)

In [92]:
df3 = df2a['Age_recode2'].astype('float')
df3

0       57.0
1       11.0
3        NaN
4        NaN
5        NaN
        ...
6297     NaN
6298     NaN
6299     NaN
6300     NaN
6301    15.0
Name: Age_recode2, Length: 5510, dtype: float64

In [93]:
df3.unique()

array([  57.,   11.,   nan,   18.,   52.,   15.,   12.,   32.,   10.,
         34.,   30.,   60.,   33.,   29.,   54.,   41.,   37.,   19.,
         25.,   69.,   38.,   55.,   35.,   45., 2000.,   28.,   20.,
         24.,   26.,   49.,   14.,   22.,    7.,   31.,   17.,   40.,
         13.,   42.,    3.,   50.,   46.,   16.,   82.,   48.,   21.,
         51.,   39.,   58., 1000.,   47.,   61.,   65.,   73.,   36.,
         66.,   43.,    9.,   72.,   59.,    6.,   64.,   23.,   71.,
         44.,   27.,   62.,   68.,   63.,   70.,   53.,    8.,   77.,
         74.,   56., 2002.,    5.,   86., 2003.,   84.,   87.,   75.,
       1002., 3000.,   81.,   78.])

In [94]:
seventeen_or_younger = df3[df3 < 18]
seventeen_or_younger

#In 847 van de gevallen is het slachtoffer van een haaienaanval jonger dan 18 jaar

1       11.0
8       15.0
9       12.0
11      10.0
12      10.0
        ...
6189    15.0
6242     6.0
6243    16.0
6276    16.0
6301    15.0
Name: Age_recode2, Length: 847, dtype: float64

In [95]:
#Naar idee van: https://www.statology.org/numpy-filter/

eighteen_and_older = df3[(df3 >= 18) & (df3 <= 999)]
eighteen_and_older

#In 2248 van de gevallen is het slachtoffer van de haaienaanval 18 jaar of ouder.

0       57.0
6       18.0
7       52.0
10      32.0
14      34.0
        ...
6226    19.0
6238    27.0
6239    36.0
6241    25.0
6254    50.0
Name: Age_recode2, Length: 2248, dtype: float64

In [97]:
remaining_cases = df3[df3 >= 1000]
remaining_cases.value_counts()

2000.0    44
1000.0    21
2002.0    10
1002.0     3
2003.0     1
3000.0     1
Name: Age_recode2, dtype: int64

In [98]:
#kinderen (+1 op het laatst omdat er één geval is met zowel een kind als een volwassene)
print(21 * 1 + 3 * 2 + 1)

#volwassenen (+1 op het laatst omdat er één geval is met zowel een kind als een volwassene)
print(44 * 1 + 10 * 2 + 3 * 1 + 1)

28
68

In [99]:
#Totaal aantal personen wat is aangevallen door een haai
print(847 + 2248 + 28 + 68)

3191

In [ ]:
#aantal kinderen wat is aangevallen door een haai
print(847 + 28)

936

In [ ]:
#aantal volwassenen wat is aangevallen door een haai
print(2248 + 68)

2543

In [100]:
print(936 / 3191 * 100)
#In 29.3% van de gevallen is een kind aangevallen door een haai.

29.33249764963961

In [101]:
print(2543 / 3191 * 100)
#In 79,7% van de gevallen is een volwassene aangevallen door een haai.

79.6928862425572

In 29.3% van de gevallen is een kind aangevallen door een haai.

In 79,7% van de gevallen is een volwassene aangevallen door een haai.

Er lijkt dus geen aanleiding om aan te nemen dat kinderen vaker worden getroffen door haaienaanvallen dan volwassenen.

Echter, kijk ik nu puur naar de percentages. Eigenlijk zouden we moeten kijken of de verdeling van de aanvallen voor zowel kinderen als volwassenen 'normaal' verdeeld zijn. Dat doe ik nu niet omdat we daar in de opleiding nog niet wat over hebben geleerd.


# **3. Are shark attacks where sharks were provoked more or less dangerous?**

In [102]:
#df6 = df2a.astype({"Injury": str})
#df6.dtypes
#df6['Injury'].value_counts(dropna=False)

In [ ]:
df7 = df6

df7

In [104]:
df7['Fatal (Y/N)'].unique()

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'],
      dtype=object)

In [105]:
df7['Type'].unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

Om de vraag "Are shark attacks where sharks were provoked more or less dangerous?" te beantwoorden, ga ik kijken of provoked incidents (m.a.w. provoked shark attacks) vaker leiden tot fatale incidenten, dan unprovoked incidents.

Er blijken verschillende waarden te zijn in de kolom 'Fatal (Y/N)'.

De waarden '2017' en 'm' blijken bij nadere inspectie van andere kolomwaarden te staan voor 'n'. Die waarden en de andere 'n' en 'y' waardes gaan we recoden naar 'n' en 'y'.  

De np.nan waardes in deze kolom beschouwen we als missing value, en gaan we 'droppen'/ weglaten. Hiermee lopen we het risico dat we onterecht enkele rijen niet meenemen in onze analayse, bijvoorbeeld omdat daar in werkelijkheid wél iemand is overleden. Echter, hebben we geen manier om voor elke rij na te gaan of de informatie klopt en als we wel alle rijen zouden moeten nagaan dan kost dit enorm veel tijd. Daarom kiezen we er bewust voor om de np.nan waardes te droppen, ook al heeft dit misschien (geringe) invloed op de validiteit van onze onderzoeksresultaten.

In de kolom 'Type' zie je onder andere 'boat' en 'boating'. Dat betekent dat er een haaienaanval of incident heeft plaatsgevonden terwijl de slachtoffers zich in een boot bevonden. In veruit de meeste gevallen waarbij de slachtoffers zich in een boot bevinden, loopt het incident NIET fataal af. Dat heeft er denk ik mee te maken dat een boot bescherming bied tegen een haaienaanvaal, en al helemaal als het een behoorlijke boot is. 

De boat en boating incidenten laat ik daarom buiten beschouwing, omdat ik denk dat die een bias in de onderzoeksresultaten kunnen opleveren t.o.v. de incidenten waarbij de slachtoffers zich niet in een boot bevonden.

Daarnaast laat ik de 'questionable' en np.nan gevallen buiten beschouwing,omdat daarbij niet vaststaat of het daadwerkelijk om een incident ging waarbij haaien betrokken waren. De 'sea disaster' gevallen laat ik uiteraard ook buiten beschouwing, want hierbij gaat het niet om een haaienaanval.

In [ ]:
df7['Fatal (Y/N)'] = df7['Fatal (Y/N)'].str.lower()
df7

In [107]:
df7['Fatal (Y/N)'].unique()

array(['n', 'y', nan, 'm', 'unknown', '2017', ' n', 'n '], dtype=object)

In [108]:
dict_fatal_new = {'n': 'n', 'y': 'y', 'm': 'n', 'unknown': np.nan, '2017': 'n', ' n': 'n', 'n ': 'n'}

df8 = df7.replace({'Fatal (Y/N)': dict_fatal_new})

In [109]:
df8['Fatal (Y/N)'].unique()

array(['n', 'y', nan], dtype=object)

In [110]:
df8a = df8[df8['Fatal (Y/N)'].notna()]
df8a['Fatal (Y/N)'].unique()

array(['n', 'y'], dtype=object)

In [ ]:
df8a

In [ ]:
#df7['Fatal (Y/N)'][df7['Fatal (Y/N)'].str.contains('2017')] = 'N'
#df7['Fatal (Y/N)'][df7['Fatal (Y/N)'].str.contains('M')] = 'N'

In [112]:
df9 = df8a[(df8a['Type'] == 'Unprovoked') | (df8a['Type'] == 'Provoked')]
df9['Type'].unique()

array(['Unprovoked', 'Provoked'], dtype=object)

In [113]:
df9['Type'].value_counts()
#5101 total

Unprovoked    4532
Provoked       569
Name: Type, dtype: int64

In [ ]:
df9['Fatal (Y/N)'].value_counts()
#5101

n    3901
y    1200
Name: Fatal (Y/N), dtype: int64

In [ ]:
provocation_fatality = pd.crosstab(index=df9["Type"], 
                           columns=df9["Fatal (Y/N)"])

provocation_fatality.index= ["Provoked","Unprovoked"]
provocation_fatality.columns= ["Non-fatal", "Fatal"]

provocation_fatality

#source voor implementatie van de two-way frequency table: https://www.kaggle.com/code/hamelg/python-for-data-19-frequency-tables/notebook

            Non-fatal  Fatal
Provoked          550     19
Unprovoked       3351   1181

In [114]:
#Provoked & fatal
print(19/550 * 100)

#Unprovoked & fatal
print(1181/3351*100)

3.4545454545454546
35.24321098179648

Uit de bovenstaande berekening lijkt het er op  dat haaienaanvallen waarbij de haai wordt uitgedaagd (provoked) relatief NIET meer slachtoffers vallen, dan bij haaienaanvallen waarbij de haai niet wordt uitgedaagd.

In tegendeel, bij haaienaanvallen waarbij de haai niet wordt uitgedaagd vallen relatief vaker doden  (35,2%) dan bij haaienvallen waarbij de haai wél is uitgedaagd (3.5%). Daarom lijkt het aannemelijker dat andere factoren een belangrijkere rol spelen in de afloop (d.w.z. de fataliteit) van het incident. Wellicht speelt de haaiensoort een belangrijkere rol, of de plaats waar het incident plaatsvindt (dichtbij de kust v.s. ver in open zee).

# **4. Are certain activities more likely to result in a shark attack?**

Allereerst begin ik door opnieuw te kijken naar de waarden in de 'Type' kolom. 

We willen alleen valid cases, dus we 'droppen' de rijen die 'Invalid' en questionable als waarde hebben en de Nan's. 
Dit betekent dat we enkele gevallen onterecht rijen zullen verwijderen, en wellicht hierdoor een bias creëren in de analyse. Dit is dus een beperking van dit onderzoek. Echter gaat het om zoveel rijen dat het niet mogelijk is om deze één-voor-één af te gaan, en om ze allemaal handmatig te controleren. Vandaar dat we deze beperking op de koop toenemen.

Ook de rijen met 'Sea Disaster' droppen we, want we zijn alleen geïnteresseerd in haaienaanvallen.

Rijen met boating, boat en boatomg (m.a.w. varen in een boot) nemen we wel mee. Het is namelijk goed om na te gaan of dit een activiteit is waarbij vaak haaienaanvallen plaatsvinden.

In [24]:
df10['Type'].unique()
#We willen alleen valid cases, dus we 'droppen' de rijen die 'Invalid' en questionable als waarde hebben en de Nan's. 
#Dit betekent dat we enkele gevallen onterecht rijen zullen verwijderen, en wellicht hierdoor een bias creëren in de analyse. Echter gaat het om zoveel rijen dat het

#ook de rijen met 'Sea Disaster' droppen we, want we zijn alleen geïnteresseerd in haaien aanvallen. 
#Rijen met boating, boat en boatomg nemen we wél mee

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

In [28]:
df11 = df10[(df10['Type'] == 'Unprovoked') | (df10['Type'] == 'Provoked') | (df10['Type'] == 'Boating') | (df10['Type'] == 'Boat') | (df10['Type'] == 'Boatomg')]
df11['Type'].unique()

array(['Boating', 'Unprovoked', 'Provoked', 'Boat', 'Boatomg'],
      dtype=object)

In [ ]:
pd.set_option("display.max_rows", None, "display.max_columns", None)
#list(df10['Activity'].unique())


df11['Activity'].value_counts()

Surfen en zwemmen lijken -met afstand- de activiteiten te zijn waarbij een haaienaanval het vaakst voorkomt (Surfing heeft namelijk 928 waarnemingen, swimming 779 en fishing als derde inde lijst 'slechts' 409 keer). Wel worden er verschillende vormen van surfen genoemd in de lijst, zoals windsurfing.  Er zijn ook verschillende vormen van zwemmen zoals 'freedom swimming' wat pakweg 10x wordt genoemd. 

De verschillende vormen van zwemmen zoals freedom swimming zou je onder de term 'swimming'kunnen scharen, maar dat doen we niet omdat er ook vormen van swimming in de lijst staan waarbij het minder duidelijk is of het om dezelfde soort activiteit gaat, zoals body surfing(hierbij is je lichaam de surfplank...). Hetzelfde geldt voor swimming. Je zou body surfing als een vorm van swimming kunnen beschouwen. Laten we deze activiteiten daarom niet op een hoop gooien.


Ook bij de activiteit 'fishing' komen haaienaanvallen vaak voor. Wel moeten we hierbij onderscheid maken tussen fishing en spear fishing wat twee totaal verschillende activiteiten zijn. Bij spear fishing bevindt de persoon zich namelijk in het water met een speer.

Boating wordt in de 'Activity' kolom niet vaak genoemd, maar 17 keer. Echter vinden wel veel aanvallen plaats terwijl mensen zich in een boot bevinden. Dat vind ik belangrijk om er bij te noemen, omdat dit niet uit de 'Activity' kolom blijkt. Dat blijkt namelijk wél uit de analyse hieronder.

In [ ]:
df11['Type'].value_counts()
df11

Een haaienaanval komt relatief redelijk vaak voor als mensen zich in een boot. Dit kun je zien door de datatable handmatig te sorteren op de kolom 'Type'. Op de eerste 14 pagina's (met ieder 25 resultaten) zie je dan incidenten waarbij de personen zich in een boot bevonden. Er is dus een overlap tussen de activity 'fishing' en de kolom 'Type'='boat'. Maar: niet iedereen die vist zit in een boot, en niet iedereen die in een boot zit is aan het vissen; sommigen zijn bijvoorbeeld aan het kanoën.